:root {
  --light: #cccccc;
  --secondary: #8652ca;
  --hover: #5b21b6;
  --blue: rgb(67 56 202);
}

#root {
  width: 100%;
  height: 100vh;
}

body {
  background: linear-gradient(to bottom, var(--light), var(--secondary));
}

.option {
  color: var(--light);
}

.option:hover {
  transform: scale(1.2);
  background-color: rgb(76 29 149);
}